body {
  width: 360px;
  height: 260px;
  background-color: #FBF7F0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Domine", serif;
  color: #555555;
  margin-left: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

#dropbtn {
  background-color: #CDC9C3;
  color: #555555;
  font-family: "Domine", serif;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.language {
  display: flex;
  align-items: center;
}

#selectLanguage {
  margin: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-bottom: 10px;
}

.dropdown-content button {
  background-color: #e9e7e7;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  width: 146px;
  border: 0px;
}

.dropdown-content button:hover {
  background-color: #c7c5c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a3a1a1;
}